.ControlBar {

}

.metric {
    color: white;
    background-color: black;
}

.imperial {
    color: white;
    background-color: black;
}

.standard {
    color: white;
    background-color: black;
}